/* הגדרות בסיס לכל האתר */
body,
#root {
  margin: 0;
  padding: 0;
  direction: rtl; /* כיוון כתיבה מימין לשמאל */
  text-align: right; /* יישור טקסט לימין */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* תיקון קטן כדי שקוד באנגלית לא יראה מוזר */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  direction: ltr; /* קוד תמיד נשאר משמאל לימין */
  text-align: left;
}